*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(120deg, #25242c, #888484);
  font-family: 'Poppins', sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  
}

header,form{
  display: flex;
  min-height: 15vh;
  justify-content: center;
  align-items: center;    
}

.todo-caption{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 45px;
  color: #0db81c;
  font-family: cursive ;
}

form input, form button{
  padding: 0.4rem;
  border: none;
  font-size: 1.6rem;
  background: rgb(73, 153, 149);
}

form button{
  color: #a3e6dd;
  background: rgb(73, 153, 149);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover{
  background: #65c06d;
  color: rgb(89, 177, 48);
}

.btn-group {
  display: flex;
  justify-content: center;
}

.clear-btn {
  border: none;
  margin-right: 50px;
  border-radius: 10px;
  background-color: rgb(45, 105, 218);
  color: wheat;
  padding: 5px;
}

.check-all-btn {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.check-input {
  width: 20px;
  height: 20px;
}


.li-todo {
  width: 40%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(19, 71, 64);
  border-radius: 10px;
  margin-bottom: 5px;
}

.todo_list{
  min-width: 40%;
  list-style: none;
}

.text-todo {
  display: block;
  width: 80%;
  padding-left: 10px;
  padding-right: 20px;
  overflow-wrap: break-word;
}

.ul-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 600px;
}

.todo{
  margin: 5px auto;
  background: white;
  color: #000000;
  display: flex;
  font-size: 1.2rem;
  padding: 0.3rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.filter-todo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.all {
  color: #0db81c;
  border: none;
  border-radius: 20%;
  background-color: #2e848f;
  color: antiquewhite;
  padding: 5px;
}

.active {
  color: #0db81c;
  border: none;
  border-radius: 20%;
  background-color: #2e848f;
  color: antiquewhite;
  margin: 0 10px;
  padding: 5px;
}

.completed {
  color: #0db81c;
  border: none;
  border-radius: 20%;
  background-color: #2e848f;
  color: antiquewhite;
  padding: 5px;
}

.todo-item {
  max-width: 500px;
  display: flex;
  justify-content: space-around;
}

.button-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.btn-info {
  width: 40px;
  align-items: center;
  justify-content: center;
}

.btn-danger {
  width: 40px;
  height: 40px;
}

.page.active{
  background-color: rgb(0, 255, 13);
  margin: 0;
}